* {
    box-sizing: border-box;
}

.container {
    background-color: bisque;
    padding: 10px;
}

.vignette {
    width: 100px;
    height: 150px;
    background-color: sandybrown;
    border: 1px solid seagreen;
    margin: 15px;
    float: left;
}

.clear {
    clear: both;
}